body{
    background-color: #ff4e28;
}
article{
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    background-color: brown;
    width: 60%;
}
aside{
    float: right;
    padding-right: 1em;
}
#logo{
    display: block;
}
img{
    display: none;
}
.show{
    display: block;
}
.hide{
    display: none;
}
h3{
    width: 200px;
}
#logo{
    margin-left: auto;
    margin-right: auto;
}
nav{
    float: left;
    margin-left: 12%;
}
