body{
    background-color: cornflowerblue;
}
#wrapper{
    background-color: deepskyblue;
    position: relative;
    overflow: hidden;
    width: 1400px;
    margin: auto;
    box-shadow: 7px 7px 3px #474747;
}
header{
    text-align: center;
    overflow: auto;
    background-color: aliceblue;
}
#main{
    overflow: hidden;
    margin-left: 200px;
    width: 500px;
    height: 600px;
}
a{
    text-decoration: none;
}
nav{
    position: absolute;
    height: 100%;
    width: 175px;
    padding-left: 10px;
    padding-top: 15px;
    background-color: aliceblue;
}
footer{
    text-align: center;
    overflow: hidden;
    clear: both;
    background-color: aliceblue;
}
.tickets, .text, .time{
    float: right;
    vertical-align: top;
    display: inline-block;
    width: 50px;
    border: 0;
    margin-right: 250px;
}
